@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-10 mt-4 border-bottom">
    <img class="text-md-left" src="https://i.pinimg.com/originals/3c/7a/f3/3c7af3c03a1fc34f679d6cb8d1af703a.png" width="50%" height="50%" />
    <h2 class="text-md-right" style="position: absolute ; left: 600px ; top: 200px; font-size: 40px"> Featured product</h2> 
    <h2 class="text-md-right" style="position: absolute ; left: 600px ; top: 250px ; font-size: 40px"> Description </h2>
</div>

<div class="container col-8 " style="padding-top: 20px">
    <div class="text-md-left d-inline-block " style="display: inline"  >
        <img  src="~/img/long.png" width="80%" height="80%" title="Hoang Long"/>
        <h2 style=" font-size: 15px"> Hoang Long</h2>
    </div>
    <div class="text-md-center d-inline-block" style="display: inline" >
        <img  src="~/img/phong.png" width="80%" height="80%" title="Thanh Phong" />
        <h2 style=" font-size: 15px"> Thanh Phong</h2>
    </div>
    <div class="text-md-right d-inline-block" style="display: inline">
    <img  src="~/img/chuong.png" width="80%" height="80%" title="Chuong" />
    <h2 style=" font-size: 15px; text-align: center"> Chuong </h2>
    </div>
</div>
