@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="container col-10 mt-4 border-bottom">
 <h1 class="text-center"> Reach our team</h1>
 <h2 class="text-center" style="font-size: 15px"> We love question and feedback- we're always here to help</h2>
</div>

<div class="container col-10 mt-4 " >
&ensp; 
<div class="text-md-left">
<div class ="text-md-center col-10 mt-4" style="width:400px; height:200px; background-color:aliceblue; border: 1px solid; position: absolute; left: 20px;"  >
    <h1 >Talk to Sales </h1>
    <h1 style="font-size: 12px"> Chat with our sales team to discover what work best for you</h1>
<div class="container ">
    <img src="~/img/phone.webp" width="10%" height="10%"/>
    <div class="d-inline-block">  +84 98 1325132</div>
</div> 
</div>
</div>

<div class="text-md-right">
<div class ="text-md-center col-10 mt-4" style="width:400px; height:200px; background-color:aliceblue; border: 1px solid; position: absolute; left: 600px; "  >
    <h1 class="text-center"> Contact our email </h1>
    <h1 class="text-center" style="font-size: 12px"> We are waiting to help you - so don't hesitate to reach out </h1>
<div class="container ">
    <img src="~/img/mail-128.webp" width="10%" height="10%"/>
    <div class="d-inline-block">  contact-us@gmail.com</div>
</div> 
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="container text-md-left col-10 mt-8">
    <h1 style="font-size: 20px;" > Headquarters:  </h1>

    <div class="container text-md-left  ">
    <img src="~/img/location.webp" width="5%" height="5%"/>
    <div class="d-inline-block">  2P.Phạm Văn Bạch, Dịch Vọng, Cầu giấy, Hà Nội</div>
</div>
<div class="container text-md-left ">
    <img src="~/img/phone.webp" width="5%" height="5%"/>
    <div class="d-inline-block">  +84 98 1325132</div>
</div>
<div class="container text-md-left ">
    <img src="~/img/mail-128.webp" width="5%" height="5%"/>
    <div class="d-inline-block">  contact-us@gmail.com</div>
</div>
        <div class="text-md-right" style=" position: relative; left: 100px; bottom: 200px">
    <img src="~/img/map.png" width="50%" height="50%" style="border: 2px solid"/>
</div>
</div>
